@font-face {
  font-family: "Ubuntu-mudium";
  src: url("../public/fonts/Ubuntu/Ubuntu-Medium.ttf");
}

* {
  font-family: "Ubuntu-mudium";
}

body {
  background-color: #fdfdfd;
}
.container {
  margin-left: 100px;
  margin-right: 20px;
}
